@import '../styles/colorPalette';

main.item-details {
  display: flex;
  width: 100%;
  margin: 16px 0;
  justify-content: center;
  section.item-details {
    border-radius: 4px;
    width: 74%;
    background-color: white;
    display: flex;
    padding: 32px;
    article{
      width: 70%;
      img.product{
        object-fit: scale-down;
        border-radius: 4px;
        height: 100%;
        width: 100%;
        max-height: 680px;
        max-width: 680px;
      }
      h1{
        font-size:28px;
      }
      p.descripcion{
        font-size:16px;
        color:$gray3;
      }
    }
    aside{
      width:30%;
      .name{
        margin-top:16px;
      }
      .price{
        font-size:46px;
        font-weight: lighter;
        margin:32px 0;
        sup.cents{
          font-size: 22px;
        }
      }
      button{
        background-color: $accent-color;
        color:white;
        border:0;
        border-radius: 4px;
        height:36px;
        width:70%;
      }
    }
  }
}
