@import '../styles/colorPalette';

main.SearchPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 13%;
  section.results {
    border-radius: 4px;
    background-color: white;
    ol {
      list-style-type: none;
      padding: 16px;
      li.result {
        margin: 0;
        padding: 16px 0;
        &:first-child {
          padding: 0 0 16px 0;
        }
        &:last-child {
          padding: 16px 0 0 0;
        }
        &:not(:last-child) {
          border-bottom: 1px solid $gray4;
        }
      }
    }
  }
}
